.products-container img{
    width: 48vh;
    height: 18rem;
}


@media screen and (max-width:668px) {
    .products-container img{
    width: 36vh;
    height: 10rem;
}
.products-card{
    
    height:25rem;
}
.products-cards{
    
    height:28.5rem;
}
.products-cards p{
  margin-top: 2px;
}
.products-cards h2{
  text-align: justify;
}
}
