.products-container img{
    width: 43vh;
    height: 18rem;
}


@media screen and (max-width:668px) {
    .products-container img{
    width: 30vh;
    height: 10rem;
}
.products-card{
    
    height:25rem;
}
.products-cards{
    
    height:31rem;
}
.products-cards p{
  line-height: 1rem;
}
.products-cards h2{
  text-align: justify;
}
}
