.all-reviews-container{
 
    
}
p{
    cursor:pointer ;
}

.all-reviews{

  
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 2rem 0px;
   max-width: 1100px;
   margin:1rem  auto;
}



/* .review-card img{
    max-width: 60px;
    margin: 0.5rem auto;
} */
.review-card {
    width: 300px;
   
    
    /* border: 1px solid #EBA10F; */
    border-radius: 15px;
}
.review-card p{
  margin-top: 4px;
  margin-bottom: 4px;
    width: 250px;
   cursor: pointer;
}
@media screen and (max-width:668px) {
    .review-card{
         margin: 0px auto;
    }
    .review-card h4{
         font-size: 1rem;
    }
   .review-card p{
        font-size: 0.9rem;
   }
    
}




@media screen and (max-width:668px) {

    .all-reviews{
        grid-template-columns: repeat(1 , 1fr);
        grid-column-gap: 0.6rem;
    }
    .all-reviews-container h1{
        font-size: 1.5rem;
    }
    
}