.section-container{
    position: relative;
}
.section-container img{
    position: relative;
    width: 100%;
    height: 53rem;
   
}
.section-container p{
    width: 30rem;
   color: lightgray;
   
}
.section-container h3{
   
   color: lightgray;
   
}
/* .banner-caption{
    position: absolute;
    top: 33%;
    left: 40%;
} */
.banner-caption-header{
    position: absolute;
    top: 33%;
    left: 44%;
}
.banner-caption-body{
    position: absolute;
    top: 48%;
    left: 40%;
}

@media screen and (max-width:668px) {  
    .section-container img{
        
       
        height: 25rem;
       
    }
    .section-container h3{
   
        
        
     }
    .section-container p{
        width: 11rem;
      color: white;
       
    }
    .banner-caption-body{
        position: absolute;
        top: 33%;
        left: 31%;
    }


    .banner-caption-header{
        position: absolute;
        top: 6%;
        left: 30%;
    }

    
}